<h1>ユーザー情報変更</h1>
<h2>※住所変更を希望される方は管理者までお申し出ください</h2>
<%= form_with(model: @user, local: true, url: user_path(@current_user.id),method: :patch) do |f| %>

    <table>
        <tr>
            <th>ユーザーID</th>
            <th>ユーザーネーム</th>
            <th>住所</th>
            <th>エリアコード</th>
            <th>mail</th>


        </tr>

        <tr>

            <td><%= @user.id %></td>
            <td hidden><%=f.hidden_field :id, value: @user.id %></td>
            <td><%=  f.text_field :name, value:@user.name  %></td>
            <td><%= @user.address %></td>
            <td><%= @user.area_master_id%></td>
            <td><%=  f.text_field :mail, value:@user.mail %></td>
        </tr>

    </table><br>

    <div class="accbox">
    <label for="label1">パスワードを変更するかたはこちら</label>
    <input type="checkbox" id="label1" class="cssacc" />
    <div class="accshow">
        <div class="form-group">
        新しいパスワード<br>
        <%= f.password_field :password, class: 'form-control' %>
        </div>
    
        <div class="form-group">
        新しいパスワードを再入力<br>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
        </div>
    </div>
    </div>


    <td><%=f.submit "更新" %></td>
    <% end %> 