<!DOCTYPE html>
<html>
  <head>
    <title>Salisali</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container">
    <% if @current_user and @current_user.id == 1 %>
    <p>管理者メニュー（管理者のみ表示されます)</p>
    <p>
    <%=link_to "ユーザ新規登録", new_user_path %>
    <%=link_to "商品、在庫マスタ", new_stock_path %>
    <%=link_to "エリアマスタ", area_masters_path %>
    <%=link_to "サリサリマスタ", users_path %>

    </p>
    <% else %>
    

    <% end %>

    <%= yield %>
    <p>
    <%=link_to "商品一覧", stocks_path %>
    <% if !@current_user %>
    <%=link_to "[ログイン]", root_path %>
    <% end %>
    <% if @current_user %>
    <%=link_to "ユーザー情報",user_path(@current_user) %><br><br>
    <% end %>

    <%=link_to "[ログアウト]",logout_path, method: :delete %><br><br>

  </p>
  </div>
  </body>
</html>
