<h1>商品一覧</h1>
<%= form_with(model: @stock, local: true, url: new_order_path(@stocks), method: :get) do |f| %>
<%= h(flash[:notice]) %><br>
<%= h(flash[:notice2]) %>

  <table>
    <tr>
        <th>商品名</th>
        <th>価格(peso)</th>
        <th>説明</th>
        <th>注文個数</th>
    </tr>
  <tr>

  <% @stocks.each do |stock| %>
    <% if stock.quantity_of_stock > 0 %>
    <td><%= stock.goods_master.goods_name %></td>
    <td><%= stock.goods_master.price %></td>
    <td><%= stock.goods_master.about %></td>
    <td hidden><%=f.hidden_field :"user_id[]", value: "#{@current_user.id}" %></td>
    <td hidden><%=f.hidden_field :"goods_name[]", value: "#{stock.goods_master.goods_name}" %></td>
    <td hidden><%=f.hidden_field :"price[]", value: "#{stock.goods_master.price}" %></td>
    <td hidden><%=f.hidden_field :"goods_master_id[]", value: "#{stock.goods_master.id}" %></td>
    <td hidden><%=f.hidden_field :"about[]", value: "#{stock.goods_master.about}" %></td>
    <td>
    <% if params[:amount] %>
    <%=f.number_field :"amount[]",value:
    params[:amount][params[:goods_master_id].index("#{stock.goods_master.id}")]
    %>
    <% else %>
    <%=f.number_field :"amount[]" 
    %>
    <% end %>
    </td>

    <% end %>
  </tr>
  <% end %>
  
</table>
<td><%=f.submit "注文する" %></td>
<% if params[:orders] %>
<p>「注文する商品を選択してください」</p>
<% end %>
  <% end %>
  <h1>現在オーダー内容</h1>

  <% if @order_sum > 0 %>

  <table>
    <tr>
        <th>オーダーID</th>
        <th>商品コード</th>
        <th>商品名</th>
        <th>価格(peso)</th>
        <th>説明</th>
        <th>お届け予定日</th> 
        <th>注文個数</th>
        <th>合計金額</th>       
        <th>注文内容変更</th>
        <th>注文キャンセル</th>

    </tr>
  <% @orders.each do |order| %>
    <tr>

    <td><%= order.id %></td>
    <td><%= order.goods_master_id %></td>
    <td><%= order.goods_master.goods_name %></td>
    <td><%= order.goods_master.price %></td>
    <td><%= order.goods_master.about %></td>
    <td><%= order.delivery_date %></td>
    <td><%= order.amount %></td>
    <td><%= order.amount *  order.goods_master.price %></td>
    <td><%=link_to "[注文個数変更]", edit_order_path("#{order.id}") %></td>
    <td><%=link_to "[注文キャンセル]", order_path("#{order.id}"), method: :delete, data: { confirm: "#{order.goods_master.goods_name}" + "の注文全てキャンセルしますか？"} %></td>

    </tr>


    <% end %>
  </table><br>

  <table>
  <tr>
  <td>注文合計金額</td>
  
  <td><%= @order_sum %>円</td>
  </tr>
  </table>
  <% else %>
  <p>現在注文はありません</p>

  <% end %>








