<h1>在庫登録(※在庫登録のためのページです)</h1><br>
<h2>追加/変更</h2>
<%= form_with(model: @stock, local: true, url: stocks_path(@stocks)) do |f| %>
<%= h(flash[:notice]) %><br>
<%= h(flash[:notice2]) %>

  <table>
    <tr>
        <th>商品名</th>
        <th>価格(peso)</th>
        <th>説明</th>
        <th>在庫数</th>
        <th>在庫調整数</th>
    </tr>
  <tr>

  <% @stocks.each do |stock| %>

    <td><%= stock.goods_master.goods_name %></td>
    <td><%= stock.goods_master.price %></td>
    <td><%= stock.goods_master.about %></td>
    <td hidden><%=f.hidden_field :"user_id[]", value: "#{@current_user.id}" %></td>
    <td hidden><%=f.hidden_field :"goods_name[]", value: "#{stock.goods_master.goods_name}" %></td>
    <td hidden><%=f.hidden_field :"price[]", value: "#{stock.goods_master.price}" %></td>
    <td hidden><%=f.hidden_field :"goods_master_id[]", value: "#{stock.goods_master.id}" %></td>
    <td hidden><%=f.hidden_field :"about[]", value: "#{stock.goods_master.about}" %></td>
    <td><%= stock.quantity_of_stock %></td>
    <td><%=f.number_field :"amount[]" %></td>

  </tr>
  <% end %>
</table>

<td><%=f.submit %></td>
  <% end %>

  <br><br>
<h2>新規登録</h2>

<%= form_with(model: @stock, local: true, url: stocks_path(@stocks)) do |f| %>


<table>
    <tr>
        <th>商品名</th>
        <th>価格(peso)</th>
        <th>説明</th>
        <th>登録数</th>
    </tr>
  <tr>
  <td><%=f.text_field :"goods_name" %></td>
  <td><%=f.number_field :"price" %></td>
  <td><%=f.text_area :"about" %></td>
  <td><%=f.number_field :"quantity_of_stock" %></td>
  <td hidden><%=f.hidden_field :"new", value: "new" %></td>





  </tr>

  </table>

  <td><%=f.submit %></td>
  <% end %>




