<h1>商品一覧</h1>
<%= form_with(model: @order, local: true, url: user_orders_path(@stocks), method: :get ) do |f| %>
<%= flash[:notice] %>
    <table>
    <tr>
        <th>商品名</th>
        <th>価格(peso)</th>
        <th>説明</th>
        <th>注文個数</th>
    </tr>
  <tr>

  <% @stocks.each do |stock| %>

    <td><%= stock.goods_master.goods_name %></td>
    <td><%= stock.goods_master.price %></td>
    <td><%= stock.goods_master.about %></td>
    <td hidden><%=f.hidden_field :"user_id[]", value: "#{@current_user.id}" %></td>
    <td hidden><%=f.hidden_field :"goods_name[]", value: "#{stock.goods_master.goods_name}" %></td>
    <td hidden><%=f.hidden_field :"price[]", value: "#{stock.goods_master.price}" %></td>
    <td hidden><%=f.hidden_field :"goods_master_id[]", value: "#{stock.goods_master.id}" %></td>
    <td hidden><%=f.hidden_field :"about[]", value: "#{stock.goods_master.about}" %></td>

    <td><%=f.number_field :"amount[]" %></td>
  </tr>
  <% end %>
  
</table>

<td><%=f.submit %></td>
<% if params[:orders] %>
<p>「注文する商品を選択してください」</p>
<% end %>
  <% end %>

