<h1>商品マスタ/在庫マスタ登録(※登録のためのページです)</h1>
<% if flash[:notice] %>
<div class="error">
<%= h(flash[:notice]) %><br>
<%= h(flash[:notice2]) %><br>
<%= h(flash[:notice3]) %>
</div>
<% end %>
<h2>追加/変更</h2>
<%= form_with(model: @stock, local: true, url: stocks_path) do |f| %>
  <table>
    <tr>
        <th>商品コード</th>
        <th>商品名</th>
        <th>価格(peso)</th>
        <th>説明</th>
        <th>在庫数</th>
        <th>在庫調整数</th>
        <th>[Edit]</th>

    </tr>
  <tr>

  <% @stocks.each do |stock| %>
    <td><%= stock.goods_master.id %></td>
    <td><%= stock.goods_master.goods_name %></td>
    <td><%= stock.goods_master.price %></td>
    <td><%= stock.goods_master.about %></td>
    <td hidden><%=f.hidden_field :"user_id[]", value: "#{@current_user.id}" %></td>
    <td hidden><%=f.hidden_field :"goods_name[]", value: "#{stock.goods_master.goods_name}" %></td>
    <td hidden><%=f.hidden_field :"price[]", value: "#{stock.goods_master.price}" %></td>
    <td hidden><%=f.hidden_field :"goods_master_id[]", value: "#{stock.goods_master.id}" %></td>
    <td hidden><%=f.hidden_field :"about[]", value: "#{stock.goods_master.about}" %></td>
    <td><%= stock.quantity_of_stock %></td>
    <td><%=f.number_field :"amount[]"%></td>
    <td><%=link_to "[Edit]", edit_goods_master_path("#{stock.goods_master.id}") %></td>


  </tr>
  <% end %>
</table>

<td><%=f.submit "在庫を更新" %></td>
  <% end %>

<br>
<h2>新規登録</h2>

<%= form_with(model: @goods_master, local: true, url: stocks_path(@stock)) do |f| %>


<table>
    <tr>
        <th>商品コード</th>
        <th>商品名</th>
        <th>価格(peso)</th>
        <th>説明</th>
        <th>登録数</th>
    </tr>
  <tr>
  <% if params[:goods_master] %>
  <td><%=f.text_field :"id", value: params[:goods_master][:id]%></td>  
  <td><%=f.text_field :"goods_name", value: params[:goods_master][:goods_name]%></td>
  <td><%=f.number_field :"price", value: params[:goods_master][:price] %></td>
  <% else %>
  <td><%=f.text_field :"id" %></td>  
  <td><%=f.text_field :"goods_name" %></td>
  <td><%=f.number_field :"price" %></td>
  <% end %>

  <td><%=f.text_area :"about" %></td>
  <td><%=f.number_field :"quantity_of_stock", min: 0, value:0   %></td>
  <td hidden><%=f.hidden_field :"new_goods", value: "new_goods" %></td>





  </tr>
  </table>

  <td><%=f.submit "新規登録する"%></td>
  <% end %>



